.brighterjs-editable:hover:not(:focus) {
  position: relative;
}

.brighterjs-editable:hover:not(:focus):after {
  content: ".";
  border: 2px dashed grey;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: -10px;
  padding: 8px;
}

/* Brighter Context Menu */

#brighter-menu {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0; /* Hack to disregard whitespaces between each item */
  position: absolute;
  top: 200px;
  left: 200px;
  color: black;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(232, 232, 232, 0.95);
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#brighter-menu > li {
  font-size: 16px;
  transition: background-color 0.2s;
  -o-transition: background-color 0.1s;
  -ms-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
  overflow: hidden;
  cursor: pointer;
}

#brighter-menu > li:hover {
  background-color: rgba(255, 146, 73, 0.99);
}

#brighter-menu > li > span {
  position: relative;
  line-height: 50px;
  width: inherit;
  height: inherit;
  display: block;
  color: grey;
  transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

#brighter-menu > li > span:hover {
  top: -10px;
}

/* Paragraph styles context menu */
#brighter-menu-h1,
#brighter-menu-h2,
#brighter-menu-h3,
#brighter-menu-p,
#brighter-menu-blockquote,
#brighter-menu-pre {
  font-family: serif;
  width: 80px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
}
#brighter-menu-h1 > span { font-size: 72px; }
#brighter-menu-h1 > span:hover { color: #99004f; }
#brighter-menu-h2 > span { font-size: 54px; }
#brighter-menu-h2 > span:hover { color: #004199; }
#brighter-menu-h3 > span { font-size: 48px; }
#brighter-menu-h3 > span:hover {color: #049746; }

#brighter-menu-p > span { font-size: 48px; }
#brighter-menu-p > span:hover { color: #513630 }
#brighter-menu-blockquote > span { font-size: 48px; text-align: center; }
#brighter-menu-blockquote > span:hover { color: #414640; }
#brighter-menu-pre > span { font-size: 48px; font-family: Consolas, monospace; }
#brighter-menu-pre > span:hover { color: #107126; }
#brighter-menu-pre > span:hover > span { color: #A12610; }
