body {
  font-family: "Averia Libre", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #552229;
  background: #FCE9C1;
}

a, a:visited, a:active {
  color: #7279A5;
  text-decoration: none;
}

a:hover {
  color: #424975;
}

header {
  height: 200px;
}

header > h1 {
  color: #A57279;
  font-size: 300%;
  text-align: center;
  padding: 50px 0 0 0;
}

header > p {
  color: #A58A81;
  text-align: center;
  padding: 10px 0 0 0;
}

article {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

article h1 { font-size: 300%; }
article h2 { font-size: 240%; }
article h3 { font-size: 200%; }
article h4 { font-size: 160%; }
article h5 { font-size: 140%; }
article h6 { font-size: 120%; }

article > * {
  margin-bottom: 24px;
}

article p {
  line-height: 150%;
}

article ul, article ol {
  line-height: 125%;
}

article ul { list-style: disc; }
article ol { list-style: number; }

article blockquote {
  line-height: 125%;
  margin: 50px;
  position: relative;
  color: #906A61;
}
article blockquote:before {
  content: "“";
  font-size: 300%;
  position: absolute;
  left: -30px;
  top: -5px;
}
article blockquote:after {
  content: "„";
  font-size: 300%;
  position: absolute;
  right: -30px;
  bottom: 10px;
}

article pre {
  font-family: Consolas, monospace;
  font-size: 80%;
  line-height: 120%;
  margin-left: 30px;
  overflow: auto;
  word-wrap: normal;
}

#source {
  font-family: monospace;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

footer {
  color: #A57279;
  font-size: 75%;
  margin: 48px 0 24px 0;
  text-align: center;
}