<menu type="context" id="brighter-menu" label="brighter-menu" style="display: none" unselectable="on">
  <li id="brighter-menu-h1" title="Change paragraph to Heading 1"><span>Heading 1</span></li>
  <li id="brighter-menu-h2" title="Change paragraph to Heading 2"><span>Heading 2</span></li>
  <li id="brighter-menu-h3" title="Change paragraph to Heading 3"><span>Heading 3</span></li>
  <br>
  <li id="brighter-menu-p" title="Change back to Paragraph"><span>paragraph</span></li>
  <li id="brighter-menu-blockquote" title="Change paragraph to Quote"><span>&ldquo; &bdquo;</span></li>
  <li id="brighter-menu-pre" title="Change paragraph to Code snippet"><span><span>{</span>code<span>}</span></span></li>
</menu>