<div type="context" id="brighter-menu" label="brighter-menu" style="display: none" unselectable="on">

  <menu id="brighter-heading" draggable=on>
    <li id="brighter-menu-h1" title="Change selected paragraph to Heading 1"><span>Aa</span></li>
    <li id="brighter-menu-h2" title="Change selected paragraph to Heading 2"><span>Aa</span></li>
    <li id="brighter-menu-h3" title="Change selected paragraph to Heading 3"><span>Aa</span></li>
    <li id="brighter-menu-h4" title="Change selected paragraph to Heading 4"><span>Aa</span></li>
    <li id="brighter-menu-h5" title="Change selected paragraph to Heading 5"><span>Aa</span></li>
    <li id="brighter-menu-h6" title="Change selected paragraph to Heading 6"><span>Aa</span></li>
  </menu>

  <menu id="brighter-paragraphtype">
    <li id="brighter-menu-p" title="Change back to Paragraph"><span>paragraph</span></li>
    <li id="brighter-menu-blockquote" title="Change selected paragraphs to Quotes"><span>&ldquo; &bdquo;</span></li>
    <li id="brighter-menu-pre" title="Change selected paragraphs to Code"><span><span>{</span>code<span>}</span></span></li>
  </menu>

  <menu id="brighter-alignment">
    <li id="brighter-menu-ul" title="Change paragraphs to a bulletin list"><span>&bull;</span></li>
    <li id="brighter-menu-ol" title="Change paragraphs to a numbered list"><span>1.</span></li>
    <li id="brighter-menu-leftalign" title="Left align selected paragraphs"></li>
    <li id="brighter-menu-centrealign" title="Centre align selected paragraphs"></li>
    <li id="brighter-menu-rightalign" title="Right align selected paragraphs"></li>
  </menu>

</div>